body.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

body.splash img {
    max-width: 80%;
    max-height: 80%;
}
